
body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: 'Open Sans','PT Sans','DejaVu Sans','Bitstream Vera Sans','微软雅黑';
}

::-moz-placeholder {
	color: #999;
	font-style: italic;
}

:-moz-placeholder {
	color: #999;
	font-style: italic;
}

:-ms-input-placeholder, 
::-webkit-input-placeholder {
	color: #999;
	font-style: italic;
}

#topbar {
	background: #595959;
	height: 26px;
	line-height: 26px;
	text-shadow: 0 1px 0 #2C2C2C;
	color: #F1F1F1;
	cursor: default;
}

#topbar  a {
	color: #F1F1F1;
	text-decoration: none;
	cursor: default;
}

#menu a {
	display: inline-block;
	padding: 0 10px;
	z-index: 102;
}

#menu a.hover {
	background: #666666;
}

#menu .splitter {
	border-left: 1px solid #373737;
	border-right: 1px solid #777777;
}

.dropdown {
	position: absolute;
	-webkit-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.65);
	-moz-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.65);
	box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.65);
}

.right {
	float: right;
}

#search{
	border: 0;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5) inset;
	padding: 4px 24px 4px 2px;
	height: 14px;
	width: 200px;
	font-size: 13px;
	font-family: 'Monaco','Menlo','Ubuntu Mono','Consolas','source-code-pro',monospace;
	vertical-align: 1px;
	margin-right: 2px;
	background: #eee;
}

#search:focus, .icon-search:focus + #search{
	background: #fff;
}

.icon-search {
	position: absolute;
	right: 6px;
	top: 3px;
	background: url(images/searchtextbox.gif) no-repeat center center;
	width: 20px;
	height: 20px;
}

.icon-search:hover {
	opacity: 0.8;
}

.icon-search:active {
	right: 5px;
	top: 4px;
}

#menu a.selected {
	background: #494949;
}

.menu {
	background: #494949;
	border: 1px solid #22242A;
	padding: 2px 0;
	list-style: none;
	margin: 0;
	z-index: 101;
}

.menu li{
	padding: 0 18px 0 20px;
	margin: 0;
	line-height: 22px;
	background-repeat: no-repeat;
}

.menu .right {
	padding-left: 15px;
}

.menu .seperator {
	border-bottom: 1px solid #565656;
    border-top: 1px solid #353535;
    font-size: 1px;
    margin: 2px 3px;
	height: 0;
    overflow: visible;
    padding: 0;
}

.menu .hover {
	background-color: #262626;
    color: #F5B53C;
}

.menu .disabled {
	color: gray;
	text-shadow: none;
}


.menu .submenu {
	background-image: url(images/submenu_arrow.gif);
	background-position: 96% -7px;
}

.menu .checked {
	background-image: url(images/check.gif);
	background-position: 2px -13px;
}

.menu .selected {
	background-image: url(images/radio.gif);
	background-position: 1px -13px;
}


.toolbutton {
	background: url("images/c9-no-repeat.png") no-repeat scroll 0 100px;
	color: #F1F1F1;
	padding: 0 10px;
.toolbutton:hover {
	background-position: -476px -457px;
}

.toolbutton:active {
}

	background-position: -476px -490px;
}


.header-btn {
	-moz-user-select: -moz-none;
    background-image: url("images/c9-no-repeat.png");
    background-repeat: no-repeat;
    cursor: default;
    height: 26px !important;
    overflow: hidden;
    position: absolute;
    top: -32px;
    width: 30px;
}


/*编辑器*/


/*选项卡*/

.tab, .tab-container, .tab-content {
    background-image: url("images/editor_tab.png");
    background-repeat: no-repeat;
    height: 25px;
	line-height: 25px;
}

.tab {
	padding-left: 20px;
    background-position: 0 -78px;
	position: absolute;
	color: #F5F5F5;
	cursor: default;
}

.tab-container {
	padding-right: 20px;
    background-position: 100% -130px;
}

.tab-content {
    background-position: 0 -104px;
    background-repeat: repeat-x;
	padding-right: 13px;
}


.tab-close {
    background-image: url(images/close_tab_btn.png);
    background-position: 0 -14px;
    background-repeat: no-repeat;
    display: block;
    height: 14px;
    position: absolute;
    right: 15px;
    top: 6px;
    width: 14px;
}

.tab-close:hover {
	background-image: url(images/close_tab_btn.png);
    background-position: -14px -14px;
	cursor: default;
}

.tab.selected {
	background-position: 0 0;
	color: #000000;
}

.selected .tab-container {
	background-position: 100% -52px;
}

.selected .tab-content {
	background-position: 0 -26px;
}

.selected .tab-close  {
	background-position: 0 0;
}

.selected .tab-close:hover  {
	background-position: -14px 0;
}

.saving .tab-close  {
	background-image: url(images/tab-save-spinner-inactive.gif)!important;
	background-position: 0 0!important;
}

.newtab {
	background: url("images/c9-no-repeat.png") no-repeat -58px -80px ;
    display: inline-block;
    height: 17px;
    margin: 0 0 0 12px;
    top: 2px;
    vertical-align: top;
    width: 30px;
	position: absolute;
}

.newtab:hover {
    background-position: -58px -106px;
}

.newtab:active {
    background-position: -58px -132px;
}

.tablist {
	background: url("images/c9-no-repeat.png") no-repeat scroll -98px -80px transparent;
    height: 17px;
    position: absolute;
    width: 19px;
}

.tablist-hover {
    background-position: -98px -106px;
}